.brand {
  margin: 5vh 0 5vh 1.5vw;
  color: white;
  font-size: 1.3vw;
  font-weight: 500;
  display: flex;
}

.logo {
  width: 3vw;
  align-self: center;
  margin-right: 1vw;
}

.ant-layout {
  background-color: #3649F9;
}

.ant-layout-sider {
  background-color: #3649F9;
}

.ant-menu {
  background: #3649F9;
  text-align: end;
  border-right: 0;
  color: white;
  font-weight: 500;
}

#root .ant-menu-item {
  display: inline-block;
  width: 85%;
  text-align: start;
  border-radius: 2vw 0 0 2vw;
}

#root .ant-menu-item::after {
  border-right: 0;
}

#root .ant-menu-item:hover {
  color: black;
}

#root .ant-menu-item-selected {
  background-color: white;
  color: black;
}

.ant-menu-title-content>.menu-item-link {
  color: white;
}

.ant-menu-title-content>.menu-item-link:hover {
  color: black;
}

.ant-menu-item-selected .menu-item-link {
  color: black;
}

.ant-layout-content {
  background-color: white;
  height: 95vh;
  margin: 2.5vh 1.5vw 2.5vh 0;
  border-radius: 2vw;
  padding: 3vw;
  overflow-y: auto;
}

h3.ant-typography {
  color: #3649F9;
  margin-top: 20px;
  margin-bottom: 50px;
}

label {
  font-weight: bold;
}

.ant-btn-primary {
  border-color:  #3649F9;
  border-radius: 10px;
  background-color: #3649F9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.ant-btn-primary:hover, .ant-btn-default, .ant-btn-default:hover, .ant-btn-default::after {
  border-color:  #3649F9;
  border-radius: 10px;
  color: #3649F9;
  background-color: #FFF;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}