.content {
    width: 64vw;
    margin: auto;
    margin-top: 3vh;
}

.step {
    width: 50vw;
    margin: auto;
}

.selection {
    text-align: center;
    color: #3649F9;
    font-weight: 700;
    margin: 3vh 0 3vh 0;
}

.selectionLabel {
    margin: 0vh 0 1vh 0;
}

.selectionContent {
    font-weight: 400;
}

.skill {
    justify-content: space-between;
    margin-bottom: 4vh;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin: 5vh 10vw 0 10vw;
}