.top {
    display: flex;
}

.status {
    align-self: center;
    margin: 0 0 1vh 1vw;
    background-color: #16C098;
}

.hr {
    background-color: #3649F9;
    margin-bottom: 1vw;
}

.badge {
    margin: 1vh;
}