.horizontal {
    display: flex;
}

.image {
    width: 140px;
    height: 140px
}

.card {
    border: 1px solid  #C4C4C4;
    align-items: center;
    padding: 1vw;
    border-radius: 4px;
    justify-content: space-between;
    margin-top: 2vh;
}

.cardSelected {
    border: 2px solid #3649F9;
}

.cardRow {
    font-size: 1.8vh;
    line-height: 1vh;
    margin: 4vh 0 0 1.5vw;
}

.title {
    font-size: 2.5vh;
    font-weight: 700;
}

.more {
    color: black;
    background-color: #86B0FF;
    font-weight: 500;
    border: 0;
}

.activeStatus {
    align-self: center;
    margin: 0 0 1vh 1vw;
    border-color: #16C098;
    background-color: #16C098;
    color: #FFF;
    font-weight: 400;
}

.inactiveStatus {
    align-self: center;
    margin: 0 0 1vh 1vw;
    border-color:  #FF3131;
    background-color: #FF3131;
    color: #FFF;
    font-weight: 400;
}